/* GLOBAL STYLE  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header-part-start */
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  margin-top: 40px;
}
.lest-side {
}
.Influ {
  font-size: 24px;
  font-weight: 600;
}
.right-side {
}
.right-side ul {
  list-style: none;
  display: flex;
}
.right-side ul li {
}
.right-side ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 15px;
}
.fa-search {
  font-size: 22px;
  padding: 5px 15px;
  color: rgb(237 16 0);
}
.fa-shopping-cart {
  font-size: 22px;
  padding: 5px 15px;
  color: rgb(237 16 0);
}
/* header-part-end */

/* main-part-start */
main {
  background-image: radial-gradient(#e7bfbf, #2b57d100);
}

.main-left {
  width: 600px;
  margin-top: 78px;
}
.main-left h1 {
  font-size: 50px;
  font-family: auto;
  font-weight: 600;
}
.main-left p {
  line-height: 1.4;
  font-weight: 300;
  margin-top: 26px;
  margin-bottom: 31px;
  width: 530px;
}
.btn {
  padding: 12px 98px;
  border: none;
  background-color: rgb(237 16 0);
  border-radius: 20px;
  font-size: 20px;
  color: white;
  margin-top: 50px;
}
.fa-angle-double-right {
}
.main-right {
}
.main-right img {
  width: 480px;
  margin-top: 46px;
  transition: transform 0.5s ease-in;
}
.main-right:hover img {
  transform: scale(1.2);
}

/* main-part-end */

/* <!-- section-part-start  --> */

.container1 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  /* justify-content: space-between; */
  font-family: "Roboto Slab", serif;
  margin-top: 40px;
}
.section-1 h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 42px;
}
.section-content {
  width: 315px;
  box-shadow: 10px 10px 25px grey;
  border-radius: 9px;
}
.section-content h2 {
}
.pic {
  margin-left: 8px;
  margin-top: 8px;
}
.pic img {
  border-radius: 6px;
  width: 299px;
  height: 257px;
}
.details {
  margin-left: 12px;
}
.details h4 {
  font-size: 23px;
  /* text-align: center; */
  margin-top: 7px;
}
.details span {
}
.taka {
  font-size: 32px;
  line-height: 2;
}
.math {
}
.paragraph {
  width: 253px;
  margin-top: 11px;
  line-height: 1.5;
}
.fa-star,
.fa-star-half-alt {
  color: goldenrod;
}

/* footer-part-start */
.footer-section {
  margin-top: 122px;
  width: 100%;
  height: 225px;
  background-color: black;
  color: white;
}
.text {
  text-align: center;
  padding-top: 44px;
}
.text h5 {
  font-size: 25px;
}
.text span {
  margin-top: 1px;
  display: block;
}
.social {
  text-align: center;
  margin-top: 32px;
  font-size: 40px;
}
.fab,
.far {
  font-weight: 400;
  color: rgba(237, 16, 0);
  margin: 0 19px;
}
/* .fa-facebook {
}
.fa-linkedin-in {
}
.fa-youtube {
} */

.angle {
  /* margin-top: 43px;
  display: block; */
  position: absolute;
  margin-left: 905px;
  margin-top: 1504px;
  color: rgba(237, 16, 0);
}

/* text-align: right;
  margin-right: 142px; */

.angle a {
  text-decoration: none;
  color: rgba(237, 16, 0);
}
.angle span {
  color: rgba(237, 16, 0);
}
/* <!-- section-part-end  --> */
/* RESPONSIVE PHOEN  */

@media only screen and (max-width: 677px) {
  header {
    display: none;
  }
  .main {
    width: 100%;
    background-image: none;
  }
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: normal;
  }
  .main-left,
  .main-right img {
    width: 100%;
  }
  .main-left h1 {
    font-size: 45px;
    font-family: auto;
    font-weight: 600;
    text-align: center;
  }
  .main-left p {
    line-height: 1.4;
    font-weight: 300;
    margin-top: 26px;
    margin-bottom: 31px;
    width: auto;
    text-align: center;
  }
  .btn {
    padding: 12px 98px;
    border: none;
    background-color: rgb(237 16 0);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    display: block;
    margin: auto;
  }

  .social {
    text-align: center;
    margin-top: 11px;
    font-size: 40px;
  }
  .footer-section {
    margin-top: 122px;
    width: 100%;
    height: 100%;
  }

  .container1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center;
  }
  .angle {
    font-size: 30px;
    display: inline;
    margin-left: 121px;
    margin-top: 4524px;
  }
}
